*{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 /* Header Section  */
.header{
    background-color: skyblue;
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 670px;
    
}
.header-section{
    text-align: right;
    padding: 170px 150px 100px 800px;
}
.header-title{
    text-align: right;
    font-weight: 700;
    font-size: 50px;
}
.header-description{
    margin-top: 30px;
    color: #7e7e7e;
}
.btn-primary{
    color: aliceblue;
    font-weight: 500;
    font-size: 17px;
    border: 0;
    height: 40px;
    border-radius: 5px;
    background: red;
    padding: 0px 23px;
    margin-top: 30px;
}
 /* Main Section */
 /* First Section */
 .first-section{
     margin-top: 100px;
 }
 .section-content{
     display: flex;
     justify-content: space-around;
     gap: 100px;
     padding: 0px 250px;
 }
.section-image{
    width: 400px;
    height: 500px;
}
.right-side{
    padding: 150px 130px 0px 0px;
}
.section-title{
    font-size: 30px;
    font-weight: 800;
}
.section-description{
    font-size: 15px;
    color: #7e7e7e;
    margin-top: 15px;
}
 /* Second Section */
.second-section{
    ;
     margin-top: 100px;
}
.title{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    padding: 0px 400px;
}
.item{
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    padding: 0px 160px;
}
.item-details{
     /* background: #dab0b0;  */
    /* padding: 40px 20px 10px; */
    border-radius: 5px;
    height: 200px;
    width: 220px; 
}
.image-icon{
    height: 70px;
    width: 70px;
}
.item-title{
    margin-top: 15px;
    font-size: 22px;
}
.item-description{
    margin-top: 12px;
    color: #797979;
    font-weight: 600;
}
 /* Third Section */

 /* Footer Section */